{{page-title "EtlTodosPresChildrenBug"}}

{{!-- The following component displays Ember's default welcome message. --}}
<WelcomePage />
{{!-- Feel free to remove this! --}}

<div role="button">
  <p>Text content</p>
  <strong>Supplementary content</strong>
</div>

{{outlet}}